html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    background: linear-gradient(to right, Gainsboro , white);
    font-family: 'Coda', cursive;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 660px;
    min-height: 680px;
    background: linear-gradient(160deg, #FFE4E1 0%, MistyRose  100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
    transform: rotateY(0);
    background: #86a9e3; 
    cursor: default;
    animation-name: flipInY;
    -webkit-backface-visibility: visible !important;
    backface-visibility: visible !important;
    animation-duration: .75s;
}


.deck .card.show {
    font-size: 33px;
}
.deck .card.foolse {
	transform: rotateY(0);
    background: #980000; 
    cursor: default;
    font-size: 33px;
	 animation-name: pulse;
    -webkit-backface-visibility: visible !important;
    backface-visibility: visible !important;
    animation-duration: .99s;
}


.deck .card.match {
    cursor: default;
    background: #bfff80;
    font-size: 33px;
    animation-name: rubberBand;
    -webkit-backface-visibility: visible !important;
    backface-visibility: visible !important;
    animation-duration: .75s;
}
/*
 * Styles for the Score Panel
 */
.score-panel {
    text-align: left;
    width: 345px;
    margin-bottom: 10px;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
    color: gold;
}
.score-panel .restart {
    float: right;
    cursor: pointer;
}
.timer {
    display: none;
    float: center;
    padding-left: 10px;
}
/*
Styles for Modal
*/
.modal {display:none; position: fixed;z-index: 1;padding-top: 50px;left: 191px;top: 121px;width: 63%;height: 87%;border-radius: 8px; background: linear-gradient(to right, MistyRose, white);animation-name: rubberBand;
    -webkit-backface-visibility: visible !important;
    backface-visibility: visible !important;
    animation-duration: .60s;}
.modalContent {display: flex;justify-content: center;align-items: center;flex-direction: column;background-color: linear-gradient(to right, #F5F5F5, white);margin: 15% auto;padding: 20px;border: 1px solid #ff9999;width: 80%;font-size: 20px;border-radius: 25px;}
.playAgain {display: inline-block;}


/* animations */
@keyframes flipInY {
    from {
        transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
        animation-timing-function: ease-in;
        opacity: 0;
    }

    40% {
        transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
        animation-timing-function: ease-in;
    }

    60% {
        transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
        opacity: 1;
    }

    80% {
        transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
    }

    to {
        transform: perspective(400px);
    }
}

@keyframes rubberBand {
    from {
        transform: scale3d(1, 1, 1);
    }

    30% {
        transform: scale3d(1.25, 0.75, 1);
    }

    40% {
        transform: scale3d(0.75, 1.25, 1);
    }

    50% {
        transform: scale3d(1.15, 0.85, 1);
    }

    65% {
        transform: scale3d(.95, 1.05, 1);
    }

    75% {
        transform: scale3d(1.05, .95, 1);
    }

    to {
        transform: scale3d(1, 1, 1);
    }
}

@keyframes pulse {
    from {
        transform: scale3d(1, 1, 1);
    }

    50% {
        transform: scale3d(1.2, 1.2, 1.2);
    }

    to {
        transform: scale3d(1, 1, 1);
    }
}



/*
Code of responsivenesss
*/
@media screen and (max-width: 800px) {
    .deck {width: 400px;min-height: 400px;padding: 22px;}
    .deck .card {height: 75px;width: 75px;}
}
@media screen and (max-width: 450px) {
    .deck {width: 250px;min-height: 250px;padding: 15px;}
    .deck .card {height: 50px;width: 50px;}
    .score-panel {text-align: left;width: 150px;margin-bottom: 10px;}
}